<h1><%= @page_title %></h1>
<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae ab tempora praesentium atque quibusdam, labore omnis voluptatibus, ducimus architecto reprehenderit. Sint pariatur unde aperiam molestias at quisquam et voluptatibus ducimus!
</p>

<div class="well">
  <h3>Location Info</h3>
  <ul>
    <li>The Bookstore</li>
    <li>499 Massachusetts Ave, Unit 2</li>
    <li>Boston, MA 02110</li>
    <li>Phone: (000) 000-0000</li>
    <li>Email: support@example.com</li>
  </ul>
</div>